
{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}

{{ template "common.fellesInstall" . }}

{{ template "chart.valuesSection" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesList" . }}

{{ template "chart.requirementsSection" . }}

{{ template "helm-docs.versionFooter" . }}